# Group Sold Products By The Date

In [ ]:
Table Activities:

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| sell_date   | date    |
| product     | varchar |
+-------------+---------+
There is no primary key (column with unique values) for this table. It may contain duplicates.
Each row of this table contains the product name and the date it was sold in a market.
 

Write a solution to find for each date the number of different products sold and their names.

The sold products names for each date should be sorted lexicographically.

Return the result table ordered by sell_date.

The result format is in the following example.

 

Example 1:

Input: 
Activities table:
+------------+------------+
| sell_date  | product     |
+------------+------------+
| 2020-05-30 | Headphone  |
| 2020-06-01 | Pencil     |
| 2020-06-02 | Mask       |
| 2020-05-30 | Basketball |
| 2020-06-01 | Bible      |
| 2020-06-02 | Mask       |
| 2020-05-30 | T-Shirt    |
+------------+------------+
Output: 
+------------+----------+------------------------------+
| sell_date  | num_sold | products                     |
+------------+----------+------------------------------+
| 2020-05-30 | 3        | Basketball,Headphone,T-shirt |
| 2020-06-01 | 2        | Bible,Pencil                 |
| 2020-06-02 | 1        | Mask                         |
+------------+----------+------------------------------+
Explanation: 
For 2020-05-30, Sold items were (Headphone, Basketball, T-shirt), we sort them lexicographically 
and separate them by a comma.
For 2020-06-01, Sold items were (Pencil, Bible), we sort them lexicographically and separate them by a comma.
For 2020-06-02, the Sold item is (Mask), we just return it.

In [1]:
import pandas as pd

# Sample data
data = {
    'sell_date': ['2020-05-30', '2020-06-01', '2020-06-02', '2020-05-30', '2020-06-01', '2020-06-02', '2020-05-30'],
    'product': ['Headphone', 'Pencil', 'Mask', 'Basketball', 'Bible', 'Mask', 'T-Shirt']
}

# Create a DataFrame from the sample data
activities_df = pd.DataFrame(data)

In [30]:
activities_df

    sell_date     product
0  2020-05-30   Headphone
1  2020-06-01      Pencil
2  2020-06-02        Mask
3  2020-05-30  Basketball
4  2020-06-01       Bible
5  2020-06-02        Mask
6  2020-05-30     T-Shirt

In [31]:
def categorize_products(activities: pd.DataFrame) -> pd.DataFrame:
    # Group by sell_date and aggregate products
    result_df = activities.groupby(['sell_date'])[['product']].nunique()
    ## create a column that lists the name of unique products as a comman-separated string sorted
    prod_string = activities.groupby(['sell_date'])["product"].apply(lambda x: ','.join(sorted(set(x))))
    # merge both series
    merged_df = pd.concat([result_df,prod_string], axis=1)
    # rename columns
    merged_df.columns = ["num_sold","products"]
    return merged_df.reset_index()

In [32]:
categorize_products(activities_df)

    sell_date  num_sold                      products
0  2020-05-30         3  Basketball,Headphone,T-Shirt
1  2020-06-01         2                  Bible,Pencil
2  2020-06-02         1                          Mask