# The Number of Rich Customers

In [ ]:
Table: Store

+-------------+------+
| Column Name | Type |
+-------------+------+
| bill_id     | int  |
| customer_id | int  |
| amount      | int  |
+-------------+------+
bill_id is the primary key (column with unique values) for this table.
Each row contains information about the amount of one bill and the customer associated with it.
 

Write a solution to report the number of customers who had at least one bill with an amount strictly greater than 500.

The result format is in the following example.

 

Example 1:

Input: 
Store table:
+---------+-------------+--------+
| bill_id | customer_id | amount |
+---------+-------------+--------+
| 6       | 1           | 549    |
| 8       | 1           | 834    |
| 4       | 2           | 394    |
| 11      | 3           | 657    |
| 13      | 3           | 257    |
+---------+-------------+--------+
Output: 
+------------+
| rich_count |
+------------+
| 2          |
+------------+
Explanation: 
Customer 1 has two bills with amounts strictly greater than 500.
Customer 2 does not have any bills with an amount strictly greater than 500.
Customer 3 has one bill with an amount strictly greater than 500.

In [1]:
import pandas as pd

# Sample data
data = {
    'bill_id': [6, 8, 4, 11, 13],
    'customer_id': [1, 1, 2, 3, 3],
    'amount': [549, 834, 394, 657, 257]
}

# Create a DataFrame
df = pd.DataFrame(data)

In [2]:
df

   bill_id  customer_id  amount
0        6            1     549
1        8            1     834
2        4            2     394
3       11            3     657
4       13            3     257

In [30]:
def count_rich_customers(store: pd.DataFrame) -> pd.DataFrame:
    rich_customer=store.query("amount>500")
    unique_rich_customers = rich_customer['customer_id'].unique()
    result_df = pd.DataFrame({'rich_count': [len(unique_rich_customers)]})
    return result_df

In [31]:
count_rich_customers(df)

   rich_count
0           2