# RESHAPE WIDE TO LONG IN PANDAS PYTHON WITH MELT() FUNCTION

Reshaping a data from wide to long in pandas python is done with melt() function. melt function in pandas is one of the efficient function to transform the data from wide to long format. melt() Function in python pandas depicted with an example.

In [ ]:
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| product_id  | int     |
| store1      | int     |
| store2      | int     |
| store3      | int     |
+-------------+---------+
product_id is the primary key (column with unique values) for this table.
Each row in this table indicates the product's price in 3 different stores: store1, store2, and store3.
If the product is not available in a store, the price will be null in that store's column.

Write a solution to rearrange the Products table so that each row has (product_id, store, price).
If a product is not available in a store, do not include a row with that product_id and store combination 
in the result table.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Products table:
+------------+--------+--------+--------+
| product_id | store1 | store2 | store3 |
+------------+--------+--------+--------+
| 0          | 95     | 100    | 105    |
| 1          | 70     | null   | 80     |
+------------+--------+--------+--------+
Output: 
+------------+--------+-------+
| product_id | store  | price |
+------------+--------+-------+
| 0          | store1 | 95    |
| 0          | store2 | 100   |
| 0          | store3 | 105   |
| 1          | store1 | 70    |
| 1          | store3 | 80    |
+------------+--------+-------+
Explanation: 
Product 0 is available in all three stores with prices 95, 100, and 105 respectively.
Product 1 is available in store1 with price 70 and store3 with price 80. 
The product is not available in store2.

In [23]:
import pandas as pd

# Creating the input DataFrame
data = {
    'product_id': [0, 1],
    'store1': [95, 70],
    'store2': [100, None],
    'store3': [105, 80]
}

product = pd.DataFrame(data)
print(product)

   product_id  store1  store2  store3
0           0      95   100.0     105
1           1      70     NaN      80

In [21]:
def rearrange_products_table(products: pd.DataFrame) -> pd.DataFrame:
    # Reshaping the DataFrame
    product_df = pd.melt(products, id_vars='product_id', var_name='store', value_name='price').dropna()
    # Drop rows with missing prices (store2 in this case)
    product_df.sort_values(['product_id'],inplace=True)
    return product_df

In [22]:
rearrange_products_table(product)

   product_id   store  price
0           0  store1   95.0
2           0  store2  100.0
4           0  store3  105.0
1           1  store1   70.0
5           1  store3   80.0

data frame “product” is passed to melt() function
id_vars is the variable which need to be left unaltered which is “product_id”
var_name are the column names so we named it as ‘store’
value_name are its values so we named it as ‘price’