Table: Person

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| email       | varchar |
+-------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table contains an email. The emails will not contain uppercase letters.

Write a solution to delete all duplicate emails, keeping only one unique email with the smallest id.

For SQL users, please note that you are supposed to write a DELETE statement and not a SELECT one.

For Pandas users, please note that you are supposed to modify Person in place.

After running your script, the answer shown is the Person table. The driver will first compile and run 
your piece of code and then show the Person table. The final order of the Person table does not matter.

The result format is in the following example.

Example 1:

Input: 
Person table:
+----+------------------+
| id | email            |
+----+------------------+
| 1  | john@example.com |
| 2  | bob@example.com  |
| 3  | john@example.com |
+----+------------------+
Output: 
+----+------------------+
| id | email            |
+----+------------------+
| 1  | john@example.com |
| 2  | bob@example.com  |
+----+------------------+
Explanation: john@example.com is repeated two times. We keep the row with the smallest Id = 1.

In [64]:
import pandas as pd

# Sample data
data = {'id': [1, 2, 3],
        'email': ['john@example.com', 'bob@example.com', 'john@example.com']}

# Create a DataFrame
person = pd.DataFrame(data)
# Display the resulting DataFrame
person

   id             email
0   1  john@example.com
1   2   bob@example.com
2   3  john@example.com

In [65]:
# Drop duplicates based on "email", keeping the row with the smallest "id"

In [66]:
# Modify Person in place
def delete_duplicate_emails(person: pd.DataFrame) -> None:
    person.sort_values(by='id',ascending=True,inplace=True)
    person.drop_duplicates(subset='email', keep='first',inplace=True)  
    return person

In [67]:
delete_duplicate_emails(person)

   id             email
0   1  john@example.com
1   2   bob@example.com