# Patients With a Condition

In [ ]:
Table: Patients

+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| patient_id   | int     |
| patient_name | varchar |
| conditions   | varchar |
+--------------+---------+
patient_id is the primary key (column with unique values) for this table.
'conditions' contains 0 or more code separated by spaces. 
This table contains information of the patients in the hospital.
 

Write a solution to find the patient_id, patient_name, and conditions of the patients who have Type I Diabetes. 
Type I Diabetes always starts with DIAB1 prefix.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Patients table:
+------------+--------------+--------------+
| patient_id | patient_name | conditions   |
+------------+--------------+--------------+
| 1          | Daniel       | YFEV COUGH   |
| 2          | Alice        |              |
| 3          | Bob          | DIAB100 MYOP |
| 4          | George       | ACNE DIAB100 |
| 5          | Alain        | DIAB201      |
+------------+--------------+--------------+
Output: 
+------------+--------------+--------------+
| patient_id | patient_name | conditions   |
+------------+--------------+--------------+
| 3          | Bob          | DIAB100 MYOP |
| 4          | George       | ACNE DIAB100 | 
+------------+--------------+--------------+
Explanation: Bob and George both have a condition that starts with DIAB1.

In [21]:
import pandas as pd

data = {
    'patient_id': [1, 2, 3, 4, 5,6],
    'patient_name': ['Daniel', 'Alice', 'Bob', 'George', 'Alain','Daniel2'],
    'conditions': ['YFEV COUGH', '', 'DIAB100 MYOP', 'ACNE DIAB100', 'DIAB201','SADIAB100']
}

df = pd.DataFrame(data)

# Filtering rows based on conditions column
#filtered_df = df[df['conditions'].str.contains(r'DIAB1', case=False)]

#print(filtered_df)
df

   patient_id patient_name    conditions
0           1       Daniel    YFEV COUGH
1           2        Alice
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100
4           5        Alain       DIAB201
5           6      Daniel2     SADIAB100

In [25]:
import re
def is_patient_check(condition):
    match = re.search(r'\bDIAB1', condition) is not None
    #print(match)
    return match
    
def find_patients(patients: pd.DataFrame) -> pd.DataFrame:
    filtered_users_df = patients[patients['conditions'].apply(is_patient_check)]
    return filtered_users_df

In [26]:
find_patients(df)

   patient_id patient_name    conditions
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100

In [18]:
import pandas as pd
import re

data = {
    'patient_id': [1],
    'patient_name': ['Daniel'],
    'conditions': ['SADIAB100']
}

df = pd.DataFrame(data)

# Filtering rows based on conditions column using re.search()
filtered_df = df[df['conditions'].apply(lambda condition: re.search(r'\bDIAB1', condition) is not None)]

print(filtered_df)

Empty DataFrame
Columns: [patient_id, patient_name, conditions]
Index: []

In [ ]:
In this code, the apply() function is used to apply the re.search() function with the pattern r'\bDIAB1' to each element 
in the "conditions" column. If the condition contains the pattern "DIAB1" at a word boundary, 
the re.search() function will return a match object, and thus the lambda function will return True. 
If the condition does not match the pattern, the re.search() function will return None,
and the lambda function will return False. This filters the DataFrame to include only the 
rows where the condition matches the pattern.

With the provided input data, the output will be an empty DataFrame since the condition 
"SADIAB100" does not contain the pattern "DIAB1" at a word boundary.